# 1.6 20th Century NLP and Network Analysis

## Import Libraries and Load Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import spacy
from spacy import displacy
import networkx as nx
import os
import matplotlib.pyplot as plt
import scipy
import re

/opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Load data
with open('20th_century_wiki.txt', 'r', errors = 'ignore') as file:
    data = file.read().replace('\n', '')

## Create NER Object

In [3]:
# Download English module
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.4.1
  Using cached https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl (12.8 MB)
Requirement already satisfied: spacy<3.5.0,>=3.4.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from en-core-web-sm==3.4.1) (3.4.3)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.0.9)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (8.1.12)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.10.1)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.0.10)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.4.2)
Requirement already satisfied: pathy>=0.3.5 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.10.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (4.66.4)
Requirement already satisfied: numpy>=1.15.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.25.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.31.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.10.14)
Requirement already satisfied: jinja2 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.1.4)
Requirement already satisfied: setuptools in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (69.5.1)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (24.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.4.0)
Requirement already satisfied: language-data>=1.2 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from langcodes<4.0.0,>=3.2.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.2.0)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from pathy>=0.3.5->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (5.2.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2024.2.2)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.7.10)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from thinc<8.2.0,>=8.1.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (0.1.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from typer<0.8.0,>=0.3.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (8.1.7)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from jinja2->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (2.1.5)
Requirement already satisfied: marisa-trie>=0.7.7 in /opt/anaconda3/envs/venv_20th_century/lib/python3.10/site-packages (from language-data>=1.2->langcodes<4.0.0,>=3.2.0->spacy<3.5.0,>=3.4.0->en-core-web-sm==3.4.1) (1.1.0)
âœ” Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [4]:
# Load spacy English module
NER = spacy.load("en_core_web_sm")

In [5]:
book = NER(data)

## Split Sentence Entities

In [6]:
df_sentences = []

# Loop through sentences, get entity list for each sentence
for sent in book.sents:
    entity_list = [ent.text for ent in sent.ents]
    df_sentences.append({"sentence": sent, "entities": entity_list})

In [7]:
# Put sentences into df
df_sentences = pd.DataFrame(df_sentences)

In [8]:
df_sentences.head(10)

,sentence,entities
0,"(Key, events, of, the, 20th, century, -, Wikip...","[the 20th century - WikipediaJump, Contribute,..."
1,"(depression1.2.2The, rise, of, dictatorship1.3...","[World War II, Pacific1.3.7.1Background1.3.8Ja..."
2,"(begins1.4The, post, -, war, world1.4.1The, en...","[Cold War, 1947â€“1991)1.4.3War]"
3,"(race1.4.5The, end, of, the, Cold, War1.4.6Inf...","[the Cold War1.4.6Information, 20th, pageGet, ..."
4,"(The, World, Wars, sparked, tension, between, ...","[the Cold War, the Space Race]"
5,"(These, advancements, have, played, a, signifi...","[the 21st century, today]"
6,"(Events, in, the, 20th, century[edit]The, worl...",[the 20th]
7,"(Edwardian, eraThe, new, beginning, of, the, 2...","[Edwardian, the 20th century]"
8,"(The, 1900s, saw, the, decade, herald, a, seri...","[The 1900s, the decade]"
9,"(From, 1914, to, 1918, ,, the, First, World, W...","[1914 to 1918, the First World War]"

## Filter Entities for Country Names Only

In [9]:
# Load country names
country_df = pd.read_csv('countries_list_20th_century_1.5.csv', index_col = 0)

In [10]:
# Remove spaces before and after country names
country_df['country_name'] = country_df['country_name'].str.strip()

In [11]:
country_df.head(5)

  country_name
1  Afghanistan
2      Albania
3      Algeria
4      Andorra
5       Angola

In [12]:
# Function to filter out entities not of interest
def filter_entity(ent_list, country_df):
    return [ent for ent in ent_list 
            if ent in list(country_df['country_name'])]

In [13]:
# Check that it works
filter_entity(["Germany", "CF", "2"], country_df)

['Germany']

In [14]:
df_sentences['country_entities'] = df_sentences['entities'].apply(lambda x: filter_entity(x, country_df))

In [15]:
df_sentences['country_entities'].head(20)

0                                                []
1                                                []
2                                                []
3                                                []
4                                                []
5                                                []
6                                                []
7                                                []
8                                                []
9                                                []
10                                               []
11                                               []
12                                               []
13                                               []
14                          [France, Italy, Russia]
15    [Germany, Austria, Hungary, Bulgaria, Russia]
16                                [Germany, Russia]
17                                        [Germany]
18                                        [Germany]
19                                               []
Name: country_entities, dtype: object

In [16]:
# Filter out sentences that don't have any character entities
df_sentences_filtered = df_sentences[df_sentences['country_entities'].map(len) > 0]

In [17]:
df_sentences_filtered.head(5)

,sentence,entities,country_entities
14,"(Interwoven, alliances, ,, an, increasing, arm...","[Europe, Allies, The Triple Entente, British E...","[France, Italy, Russia]"
15,"(Germany, ,, Austria, -, Hungary, ,, Bulgaria,...","[Germany, Austria, Hungary, Bulgaria, the Otto...","[Germany, Austria, Hungary, Bulgaria, Russia]"
16,"(The, Bolsheviks, negotiated, the, Treaty, of,...","[the Treaty of Brest-Litovsk, Germany, Russia]","[Germany, Russia]"
17,"(In, the, treaty, ,, Bolshevik, Russia, ceded,...","[Bolshevik Russia, Baltic, Germany, Kars Oblas...",[Germany]
18,"(It, also, recognized, the, independence, of, ...","[Germany, Allied, American]",[Germany]

## Create Relationships Dataframe

In [18]:
# Defining relationships 

relationships = [] # create an empty list

for i in range(df_sentences_filtered.index[-1]):
    end_i = min(i + 5, df_sentences_filtered.index[-1])
    char_list = sum((df_sentences_filtered.loc[i: end_i].country_entities), [])
    
    # Remove duplicated characters that are next to each other
    char_unique = [char_list[i] for i in range(len(char_list)) 
                   if (i == 0) or char_list[i] != char_list[i-1]]
    
    if len(char_unique) > 1:
        for idx, a in enumerate(char_unique[:-1]):
            b = char_unique[idx + 1]
            relationships.append({'source': a, 'target': b})

In [19]:
relationship_df = pd.DataFrame(relationships)

In [20]:
relationship_df.head()

   source   target
0  France    Italy
1   Italy   Russia
2  France    Italy
3   Italy   Russia
4  Russia  Germany

In [21]:
# Sort the cases with a->b and b->a
relationship_df = pd.DataFrame(np.sort(relationship_df.values, axis = 1), columns = relationship_df.columns)
relationship_df.head(5)

    source  target
0   France   Italy
1    Italy  Russia
2   France   Italy
3    Italy  Russia
4  Germany  Russia

In [22]:
# Summarize the interactions
relationship_df['value'] = 1
relationship_df = relationship_df.groupby(['source', 'target'], sort = False, as_index = False).sum()

In [23]:
relationship_df.head(10)

     source   target  value
0    France    Italy     10
1     Italy   Russia      6
2   Germany   Russia     26
3   Austria  Germany     17
4   Austria  Hungary      6
5  Bulgaria  Hungary      6
6  Bulgaria   Russia      6
7   Germany    Italy     26
8   Germany    Spain      1
9    France    Spain      1

In [24]:
relationship_df.to_csv('20th_century_relationship.csv')